.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-primary-underline: var(--pico-primary);
    --pico-primary-focus: var(--pico-primary);
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --pico-primary-underline: var(--pico-primary);
    --pico-primary-focus: var(--pico-primary);
  }
}
