.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  text-underline-offset: 5px;
}

a:hover {
  text-decoration-thickness: 3px;
}

.post-list {
  padding: 0;
  margin: 0;
}

.post-list li {
  list-style: none;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-primary-underline: var(--pico-primary);
    --pico-primary-focus: var(--pico-primary);
    --pico-muted-color: var(--pico-color);
    --pico-muted-border-color: var(--pico-color);
    --pico-code-color: var(--pico-color);
  }

  /* Shiki theme overides for code blocks in dark mode */
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --pico-primary-underline: var(--pico-primary);
    --pico-primary-focus: var(--pico-primary);
    --pico-muted-color: var(--pico-color);
    --pico-muted-border-color: var(--pico-color);
    --pico-code-color: var(--pico-color);
  }
}