---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");

const publishedPosts = allPosts.filter(
  (post) => !post.frontmatter.tags.includes("draft")
);
const tags = [
  ...new Set(publishedPosts.map((post) => post.frontmatter.tags).flat()),
];

const pageTitle = "All Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <ul role="list">
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
