---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm Martin Berrisford, a highly experienced digital accessibility and
    assistive technology specialist based in the Toronto (Canada) area.
  </p>
  <p>I specialize in:</p>
  <ul>
    <li>Digital accessibility</li>
    <li>Accessibility testing</li>
    <li>Training, coaching and mentoring</li>
    <li>Assistive technology</li>
  </ul>

  <p>
    My interest in digital accessibility and assistive technology has led me to
    work with a wide range of employers, from individuals to small businesses
    and medium to large corporations. If you would like to read more about my
    journey, check out my
    <a href="/posts/30-years-in-a11y/">30 Years in Accessibility</a> blog post.
  </p>
  <p>
    I also consider myself to be a bit of a developer enthusiast. While I
    haven't done much coding in my career recently, I enjoy working on personal
    projects using a variety of technologies such as JavaScript, Python and
    Django (a Python based web framework), and I'm always looking for new
    challenges and opportunities to learn and grow.
  </p>
</BaseLayout>
