---
const { title, url, description, pubDate } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
  <p>
    <time datetime={new Date(pubDate).toISOString().split("T")[0]}>
      {
        new Date(pubDate).toLocaleDateString("en-CA", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time> -
    {description && <span>{description}</span>}
  </p>
</li>
