---
import Social from "./Social.astro";
---

<footer class="container">
  <hr aria-hidden="true" />
  <Social
    platform="LinkedIn"
    link="https://www.linkedin.com/in/martin-berrisford-5a77aa8/"
  />
  <Social
    platform="BlueSky"
    link="https://bsky.app/profile/mberrisford.bsky.social"
  />

  <p>
    &copy; {new Date().getFullYear()} Martin Berrisford. All rights reserved.
  </p>
</footer>
