---

---

<nav aria-label="Site">
  <ul role="presentation">
    <li role="presentation">
      <a href="/" class="contrast">
        <h4 role="presentation">
          Martin Berrisford
          <span class="sr-only"> - Home page</span>
        </h4>
      </a>
    </li>
  </ul>
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ul>
</nav>

<style>
  a[aria-current="page"] {
    font-weight: bold;
    /* text-decoration: underline; */
  }

  h4 {
    margin: 0;
  }
</style>

<script>
  const currentPath = window.location.pathname;
  const links = document.querySelectorAll("nav ul li a");
  links.forEach((link) => {
    if (link.getAttribute("href") === currentPath) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
