---

---

<!-- <a href="#main">Skip to content</a> -->{
  Astro.url.pathname === "/search" ? (
    <>
      <a href="#main">Skip to content</a>
      <a href="#results-heading">Skip to search results</a>
    </>
  ) : (
    <a href="#main">Skip to content</a>
  )
}

<style>
  a {
    position: absolute;
    overflow: hidden;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    outline: none;
  }

  a:focus,
  a:active {
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    outline: none;
  }
</style>
