---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@picocss/pico/css/pico.orange.min.css";
import "../styles/global.css";
import SkipLink from "../components/SkipLink.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal website of Martin Berrisford" />
    <meta name="author" content="Martin Berrisford" />
    <title>{pageTitle} - Martin Berrisford</title>
  </head>
  <body>
    <SkipLink />
    <Header />

    <main id="main" class="container" tabindex="-1">
      <hr />
      <section>
        {
          !Astro.url.pathname.includes("/posts/") &&
            Astro.url.pathname !== "/" && <h1>{pageTitle}</h1>
        }
        <slot />
      </section>
      <!-- {
        Astro.url.pathname.includes("/posts/") && (
          <p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              role="img"
              aria-hidden="true"
              focusable="false"
            >
              <path d="M17.026 22.957c10.957-11.421-2.326-20.865-10.384-13.309l2.464 2.352h-9.106v-8.947l2.232 2.229c14.794-13.203 31.51 7.051 14.794 17.675z" />
            </svg>
            <a href="javascript:window.history.back()">Go Back</a>
          </p>
        )
      } -->
    </main>
    <Footer />

    <script>
      // import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .container {
    margin-top: -2rem;
  }
  hr {
    margin-top: 0;
  }
</style>
