---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@picocss/pico/css/pico.orange.min.css";
import "../styles/global.css";
import SkipLink from "../components/SkipLink.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Personal website of Martin Berrisford" />
    <meta name="author" content="Martin Berrisford" />
    <title>{pageTitle} - Martin Berrisford</title>
  </head>
  <body>
    <SkipLink />
    <Header />

    <main id="main" class="container" tabindex="-1">
      <hr />
      <section>
        {
          !Astro.url.pathname.includes("/posts/") &&
            Astro.url.pathname !== "/" && <h1>{pageTitle}</h1>
        }
        <slot />
      </section>
    </main>
    <Footer />

    <script>
      // import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  .container {
    margin-top: -2rem;
  }
  hr {
    margin-top: 0;
  }
</style>
